:root {
    --accent-default: #f4511e;
    --accent-dark: #FF8C00;
    --accent-light: #FFD700;
}

.custom-btn {
    padding: 12px 18px;
    vertical-align: middle;
    text-align: center;
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.3px;
    width: fit-content;
    transition: all ease-in-out 100ms;
}

.custom-btn:hover {
    cursor: pointer;
}


.custom-btn-contained {
    border: 1px solid #f4511e;
    background-color: #f4511e;
    color: white;
  }
  
  .custom-btn-contained:hover {
    border: 1px solid #FFD700;
    background-color: #FFD700;
    color: white;
  }
  
  .custom-btn-contained:active {
    border: 1px solid #FF8C00;
    background-color: #FF8C00;
    color: white;
  }